#message-box{
    @keyframes notif {
        0% 	{ opacity: 0; transform: translateY(-30px);}
        10% { opacity: 0.9; transform: translateY(0px);}
        90% { opacity: 0.9; transform: translateY(0px);}
        100% { opacity: 0; transform: translateY(-30px);}
    }
animation-name: notif;
animation-duration: 3s;
animation-iteration-count: 1;


    position:absolute;
    border-top:30px solid rgb(148, 223, 73);
    background-color:rgb(67, 165, 96);
    top:5px;
    right:5px;
    width:25%;
    height:112px;
    border-radius: 10px;

    .title{
        @media (max-width:599px){
            font-size:smaller;
        }
        position: relative;
        top:-25px;
        font-size:larger;
        text-align: center;
    }
    p{
        position: relative;
        margin:5px;
        font-size:1rem;
        text-align: start;
    }
  }