.register-form {
  @media(max-width:599px){
    background-color:#37393b;
    input{
      color:black;
    }
}

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  background-color: $white;
  .error_message {
    color: rgb(161, 0, 0);
  }
  .heading {
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    margin-bottom: 20px;
  }
  form {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    width: 100%;
    height: 100%;
    input {
      width: 100%;
      height: 40px;
      margin: 10px 0px;
      padding: 0px 10px;
      border: 1px solid $grey;
      border-radius: 5px;
      outline: none;
      transition: 0.2s;
      &:focus {
        border: 1px solid $blue;
      }
    }
    button {
      width: 100%;
      height: 40px;
      margin: 10px 0px;
      padding: 0px 10px;
      border: 1px solid $grey;
      border-radius: 5px;
      outline: none;
      transition: 0.2s;
      cursor: pointer;
      background: #f0b700;
      color: $white;
      &:hover {
        background: #7e6000;
      }
    }
  }
}